@model SBiSchoolWeb.Entities.SchoolClass

@{
    ViewBag.Title = "Create SchoolClass";
}

<h2 class="page-title">Create SchoolClass</h2>

@using (Html.BeginForm("CreateSchoolClass", "SchoolClasses", FormMethod.Post, new { enctype = "multipart/form-data", id = "create-schoolclass-form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Create SchoolClass</legend>


        <article class="col1">
            <div class="pad">

                <ol>

                    <li>
                        @Html.ValidationMessageFor(model => model.ShortCode)
                    </li>
                    <li>
                        @Html.ValidationMessageFor(model => model.ClassName)
                    </li>
                    <li>
                        @Html.ValidationMessageFor(model => model.ProgrammeYearId)
                    </li>
                    <li>
                        @Html.ValidationMessageFor(model => model.NoOfSubjects)
                    </li>
                </ol>


                <div class="editor-label">
                    @Html.LabelFor(model => model.ShortCode)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ShortCode)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.ClassName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ClassName)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.ProgrammeYearId)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ProgrammeYearId)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.NoOfSubjects)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.NoOfSubjects)
                </div>


            </div>
        </article>

        <article class="col2">
            <div class="pad">

                <ol>
                    <li>
                        @Html.ValidationMessageFor(model => model.TeacherId)
                    </li>
                    <li>
                        @Html.ValidationMessageFor(model => model.CurrentYrLevel)
                    </li>
                    <li>
                        @Html.ValidationMessageFor(model => model.NextYrLevel)
                    </li>
                    <li>
                        @Html.ValidationMessageFor(model => model.Remarks)
                    </li>
                    <li>
                        @Html.ValidationMessageFor(model => model.Status)
                    </li>
                </ol>



                <div class="editor-label">
                    @Html.LabelFor(model => model.TeacherId)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.TeacherId)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.CurrentYrLevel)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.CurrentYrLevel)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.NextYrLevel)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.NextYrLevel)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Remarks)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Remarks)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Status)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Status)
                </div>


            </div>
        </article>

        <p>
            <input type="submit" value="Create" id="btnSubmit" style="float: left; clear: both" />
        </p>

    </fieldset>
}






@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $(document).ready(function () {

            $("#progress").hide();

            $.ajaxSetup({ cache: false });

        });
    </script>

}

 