@model SBiSchoolWeb.Entities.Exam

@{
    ViewBag.Title = "Exam Details";
}

<h2 class="page-title"> Exam Details</h2>

@using (Html.BeginForm("UploadEmployerLogo", "DataEntry", FormMethod.Post, new { enctype = "multipart/form-data", id = "form-upload-logo" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Exam</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.ExamPeriodId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ExamPeriodId)
            @Html.ValidationMessageFor(model => model.ExamPeriodId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ClassId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ClassId)
            @Html.ValidationMessageFor(model => model.ClassId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubjectShortCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SubjectShortCode)
            @Html.ValidationMessageFor(model => model.SubjectShortCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastModified)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastModified)
            @Html.ValidationMessageFor(model => model.LastModified)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ModifiedBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ModifiedBy)
            @Html.ValidationMessageFor(model => model.ModifiedBy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Enabled)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Enabled)
            @Html.ValidationMessageFor(model => model.Enabled)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Closed)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Closed)
            @Html.ValidationMessageFor(model => model.Closed)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Processed)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Processed)
            @Html.ValidationMessageFor(model => model.Processed)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsDeleted)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsDeleted)
            @Html.ValidationMessageFor(model => model.IsDeleted)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}












@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $(document).ready(function () {

            $("#progress").hide();

            $.ajaxSetup({ cache: false });

        });
        </script>
 
}










