@model SBiSchoolWeb.Entities.Subject

@{
    ViewBag.Title = "Create Subject";
}

<h2 class="page-title">Create Subject</h2>

@using (Html.BeginForm("CreateSubject", "Subjects", FormMethod.Post, new { enctype = "multipart/form-data", id = "create-subject-form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Create Subject</legend>

        <article class="col1">
            <div class="pad">

                <ol>

                    <li>
                        @Html.ValidationMessageFor(model => model.ShortCode)
                    </li>
                    <li>
                        @Html.ValidationMessageFor(model => model.Description)
                    </li>
                    <li>
                        @Html.ValidationMessageFor(model => model.OutOf)
                    </li>
                    <li>
                        @Html.ValidationMessageFor(model => model.PassMark)
                    </li>
                    <li>
                        @Html.ValidationMessageFor(model => model.ROrder)
                    </li>
                </ol>


                <div class="editor-label">
                    @Html.LabelFor(model => model.ShortCode)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ShortCode)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Description)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Description)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.OutOf)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.OutOf)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.PassMark)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.PassMark)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.ROrder)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ROrder)
                </div>



            </div>
        </article>

        <article class="col2">
            <div class="pad">

                <ol>
                    <li>
                        @Html.ValidationMessageFor(model => model.Status)
                    </li>
                    <li>
                        @Html.ValidationMessageFor(model => model.Remarks)
                    </li>
                    <li>
                        @Html.ValidationMessageFor(model => model.NoOfRequiredHours)
                    </li>
                    <li>
                        @Html.ValidationMessageFor(model => model.Fees)
                    </li>
                </ol>


                <div class="editor-label">
                    @Html.LabelFor(model => model.Status)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Status)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Remarks)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Remarks)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.NoOfRequiredHours)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.NoOfRequiredHours)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Fees)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Fees)
                </div>


            </div>
        </article>

        <p>
            <input type="submit" value="Create" id="btnSubmit" style="float: left; clear: both" />
        </p>

    </fieldset>
}












@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $(document).ready(function () {

            $("#progress").hide();

            $.ajaxSetup({ cache: false });

        });
    </script>

}










